<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NLP Article Analyser</title>
    </head>
    <body>
        <div id="app">
            <h1>Evaluate a News Article</h1>
            <form id="url-form">
                <input type="text" name="article-url" id="article-url" placeholder="Enter article URL" />
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>
